<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<header>
			{{> header/logo}}
			{{> header/menu}}
		</header>
		<main>
			{{{body}}}
		</main>
		<footer>
			footer
			{{> footer/contacts}}
			{{> footer/form}}
		</footer>
	</body>
</html>